.header{
    background-image: linear-gradient(to right bottom, #7725a3, #613cab, #4b4baf, #3556af, #235fac);
    display: flex;
    height: 100px;
}

b-navbar-brand{
    color: white;
}

a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-upload > input
{
    display: none;
}



